<ul class="topnav">
	<li>
		<a (click)="redirectAllPostedJobs()"> <mat-icon class="icon">home</mat-icon> Home </a>
	</li>
	<li>
		<a (click)="redirectJobForm()"> <mat-icon class="icon">add_circle_outline</mat-icon> Post Internship Position</a>
	</li>
	<li>
		<a (click)="redirectCompanyForm()"> <mat-icon class="icon">edit</mat-icon> Edit Profile </a>
	</li>
	<li>
		<a (click)="redirectStudentDetails()"> <mat-icon class="icon">people</mat-icon> View Students </a>
	</li>
	<li class="right">
		<a (click)="logout()"> <mat-icon class="icon">exit_to_app</mat-icon> Logout </a>
	</li>
</ul>