<div style="text-align: left; align:left; margin: 20px">
	<p style="font-size:30px;">Contact Us</p>
	<p>Business hours at Monash Malaysia are from 8.30am - 6pm, Malaysia time (UTC +8), 
		Monday to Friday. If you have any questions about the internship process, 
		contact us between 8.30am – 6pm, Monday to Friday.</p>
	<p style="font-size:20px;">General Enquiries</p>
	<p>email: <br/>ims@monash.edu</p>
	<p>tel: <br/>+60 3 5514 6000</p>
	<p>postal: <br/>Monash University Malaysia
			<br/>Jalan Lagoon Selatan,
			<br/>47500 Bandar Sunway
			<br/>Selangor Darul Ehsan,
			<br/>Malaysia</p>
</div>