<div class="navbar" style="background-color:steelblue">
  <h1 style="color:white;">Coordinator Dashboard</h1>
  <a (click)="logout()">Student Information</a>
</div>

<table class="mat-table" style="margin-left: auto; margin-right: auto;">
  <tr class="mat-row">
      <td class="mat-cell"><b>First Name</b></td>
      <td class="mat-cell">{{ currentStudent.firstName }}</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Last Name</b></td>
    <td class="mat-cell">{{ currentStudent.lastName }} </td>
  </tr>
  <tr class="mat-row">
      <td class="mat-cell"><b>Course</b></td>
      <td class="mat-cell">{{ currentStudent.course }}</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Year</b></td>
    <td class="mat-cell">{{ currentStudent.year }}</td>
</tr>
  <tr class="mat-row">
      <td class="mat-cell"><b>Status</b></td>
      <td class="mat-cell">{{ currentStudent.status }}</td>
  </tr>
  <!-- <tr class="mat-row">
      <td class="mat-cell"><b>Company Name</b></td>
      <td class="mat-cell">{{ currentStudent.companyName }}</td>
  </tr> -->
  <!-- <tr class="mat-row">
    <td class="mat-cell"><b>Current Internship ID</b></td>
    <td class="mat-cell">{{ student.currentInternshipId }}</td>
</tr> -->
  
</table>

<!-- <div class="navbar" style="background-color: darkblue">
  <a class="active" (click)="redirectHome()"
    >Home<span class="sr-only">(current)</span></a
  >
  <a (click)="redirectStudentFormUpload()">Student Details</a>
  <a (click)="redirectUpload()">Form Upload</a>
  <a (click)="redirectMyApplications()">My Applications</a>
  <a (click)="redirectContactUs()">Contact Us</a>
  <a (click)="redirectAboutUs()">About Us</a>
  <a (click)="logout()">Logout</a>
  <input
    type="text"
    id="searchBox"
    placeholder="e.g. Data Analyst"
    autocomplete="off"
    list="jobList"
    (keyup)="searchKey($event)"
  />
  <button type="submit" (click)="getInternshipList()">Search</button>
</div> -->

<!-- <h1>  Student Information </h1>

<button name=i *ngIf="isCollapsed" (click)="getStudentDetails($event, i)">
  See Student Info
</button>
<button *ngIf="!isCollapsed" (click)="getStudentDetails($event, i)">
  Hide Student Info
</button>

<ul class="newstudlist">
    <li *ngFor="let student of students; let i = index">
    
      {{ i + 1 }}) {{ student }}
      <!-- <button name=i *ngIf="isCollapsed" (click)="getStudentDetails($event, i)">
        See Student Info
      </button>
      <button *ngIf="!isCollapsed" (click)="getStudentDetails($event, i)">
        Hide Student Info
      </button> -->
      <!-- <p *ngFor="let hero of newlist"></p>
      <div *ngIf="!isCollapsed">
        <div *ngFor="let hero of newlist[i]; let j = index">
          {{ newlist[i][j] }}
        </div>
      </div>
    </li>
  </ul> --> -->