<div class="navbar" style="background-color:steelblue">
  <h1 style="color:white;">Coordinator Dashboard</h1>
  <h3 style="color:white;">Employer Details</h3>
</div>
<div class="employer-info">
  <table class="mat-table">
    <tr class="mat-row">
      <td class="mat-cell"><b>ID</b></td>
      <td class="mat-cell">{{ currentEmployer.id }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell"><b>Company Name</b></td>
      <td class="mat-cell">{{ currentEmployer.companyName }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell"><b>Location</b></td>
      <td class="mat-cell">{{ currentEmployer.location }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell"><b>Phone</b></td>
      <td class="mat-cell">{{ currentEmployer.phone }}</td>
    </tr>
  </table>
</div>
