table {
    border-collapse: none;
    width: 100%;
}
  
th{
  padding: 8px;
  text-align: center;
  border-bottom: 0px solid #ddd;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  font-size: 120%;
}

tr{
  border-bottom: 1px solid black;
}

tr:nth-child(even){
  background-color: #a4978e;
  
}

tr:nth-child(odd){
  background-color: gray;
}

td div{
  padding: 8px;
  text-align: center;
  border-bottom: 0px solid #ddd;
  font-weight: bold;
  vertical-align: middle;
  font-size: 120%;
  color: black;
}

tr:hover {background-color: mistyrose;}

.title{
    font-size: 200%; 
    font-weight: bold;
    padding: 40px;
    text-align: left;
}