<div class="center">
  <h1>Employer Login</h1>
 <img class="img-fluid img-hover"
		src="assets/images/monashlogo.png">
  
  <form (ngSubmit)="register(registerForm)" #registerForm="ngForm" autocomplete="off" class="formpad">

  <div class="form-group">
    <label>Email</label> 
    <input type="text" class="form-control" name="email" placeholder="" [(ngModel)]="company.email" #email="ngModel" disabled>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger" style="color: red; width: 40%; margin: auto;">
        Email is required
    </div>
  </div>

  <div class="form-group">
    <label>Company Name</label>
    <input type="text" class="form-control" name="name" placeholder="" [(ngModel)]="company.companyName" #name="ngModel" required>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger" style="color: red; width: 40%; margin: auto;">
      Name is required
    </div>
  </div>
    <div class="form-group">
      <label>Contact Number</label>
      <input type="number" class="form-control" name="phone" placeholder="" [(ngModel)]="company.phone" #phone="ngModel" required>
      <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger" style="color: red; width: 40%; margin: auto;">
          Contact Number is required
      </div>
    </div>
    <div class="form-group">
      <label>Address</label>
      <textarea type="text" class="form-control" name="location" placeholder="" [(ngModel)]="company.location" #location="ngModel" required></textarea>
      <div [hidden]="location.valid || location.pristine" class="alert alert-danger" style="color: red; width: 40%; margin: auto;" >
          Address is required
      </div>
    </div>

    <div class="buttons">
      <button [disabled]="!registerForm.form.valid" class="btn btn-primary" type="submit" name="submitbutton">Submit</button>
    </div>

  </form>
  <br> <a routerLink="/employer-login">Back to Login</a>
</div>
